.fooconvert-dashboard-container {
    margin-left: -20px;
}

.fooconvert-dashboard-columns {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    max-width: 1032px;
    margin: 0 auto;
    justify-content: space-between;
}

.fooconvert-dashboard-column {
    width: calc(50% - 12px);
    margin: 0;
    align-self: flex-start;
}

.fooconvert-dashboard-left {
}

.fooconvert-dashboard-right {
}

.fooconvert-panel {
    background: #ffffff;
    border: 1px solid #e0e0e0;
    padding: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-bottom: 20px;
}

.fooconvert-panel-section {
    border-bottom: 1px solid #e0e0e0;
    padding: 5px 20px;
}

.fooconvert-panel-section.fooconvert-panel-no-padding {
    padding: 0;
}

.fooconvert-panel-section.fooconvert-panel-no-padding .spinner {
    margin: 10px;
}

.fooconvert-panel-section.fooconvert-panel-no-padding .fooconvert-padding {
    padding: 5px 20px;
}

.fooconvert-panel-section-flex {
    display: flex;
    justify-content: space-between; /* Ensures spacing between child elements */
    align-items: center; /* Vertically aligns the elements */
}

.fooconvert-panel-section-right {
    display: flex;
    align-items: center; /* Keeps the label and select vertically aligned */
    justify-content: flex-end; /* Positions the content to the right */
}

.fooconvert-panel-section-right label {
    display: flex;
    align-items: center; /* Ensures the label and select are aligned */
}

.fooconvert-panel-section-right select {
    margin-left: 8px; /* Adds spacing between the label text and the dropdown */
}

.fooconvert-panel-section h2 {
    margin-bottom: 8px;
    margin-top: 8px;
}

.fooconvert-center {
    text-align: center;
}

.fooconvert-flex {
    display: flex;
    align-items: center;
}

.fooconvert-panel .spinner {
    float: none;
    margin: 0 10px 0;
}

ol.fooconvert-ordered-list {
    counter-reset: item;
    list-style: none;
    margin-left: 5px;
}

ol.fooconvert-ordered-list li {
    counter-increment: item;
    margin-bottom: 10px;
    position: relative;
    padding-left: 40px;
    display: flex;
    align-items: center;
    height: 30px;
}

ol.fooconvert-ordered-list li::before {
    content: counter(item);
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background-color: #2271b1;
    color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.fooconvert-top-performers-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    background: #fff;
    overflow: hidden;
}

.fooconvert-top-performers-table thead th {
    padding: 12px 15px;
    text-align: left;
}

.fooconvert-top-performers-table tbody tr:nth-child(odd) {
    background: #fcfcfc;
}

.fooconvert-top-performers-table tbody tr {
    transition: background-color 0.3s ease;
}

.fooconvert-top-performers-table tbody tr:hover {
    background: #fafafa;
}

.fooconvert-top-performers-table tbody td {
    padding: 12px 15px;
}

.fooconvert-top-performers-table a {
    text-decoration: none;
}

.fooconvert-tooltip {
    color: #aaa;
}

@media (max-width: 768px) {
    .fooconvert-dashboard-container {
        flex-direction: column;
        margin-left: -10px;
    }

    .fooconvert-dashboard-columns {
        gap: 0;
    }

    .fooconvert-dashboard-column {
        width: 100%;
    }
}