/* Custom Header */
.fooconvert-admin-header {
    box-shadow: -10px 2px 5px 5px rgba(85,93,102,.2);
}

.fooconvert-admin-header .fooconvert-title {
    margin-left: -20px;
    background-color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fooconvert-admin-header .fooconvert-title .fooconvert-logo {
    height: 50px;
}
.fooconvert-admin-header .fooconvert-title p {
    color: #6b3ae5;
}
.fooconvert-admin-header .fooconvert-notices-container {
    margin: 0;
}
.fooconvert-admin-header.drop {
    padding-top: 40px;
}

/* Settings Overrides */
.foofields-type-checkboxlist .foofields-field-input label {
    padding-left: 0 !important;
}