:root {
  --fc--spacing-50: .5rem;
  --fc--spacing-75: .75rem;
  --fc--spacing-100: 1rem;
  --fc--spacing-125: 1.25rem;
  --fc--spacing-150: 1.5rem;
  --fc--input--color: #3c434a;
  --fc--input--background: #fff;
  --fc--input--border: solid 1px #949494;
  --fc--input--box-shadow: none;
  --fc--input--text-shadow: none;
  --fc--input--outline: none;
  --fc--input--disabled--color: rgba(44, 51, 56, 0.5);
  --fc--input--disabled--background: rgba(255, 255, 255, 0.5);
  --fc--input--disabled--border: solid 1px rgba(220, 220, 222, 0.75);
  --fc--input--disabled--box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.04);
  --fc--input--disabled--text-shadow: none;
  --fc--input--disabled--outline: none;
}