.fc--display-rules__location-control {
  display:grid;
  grid-template-columns: 24px minmax(176px, 1fr) 32px;
  grid-auto-rows: auto;

  width: 248px;
  min-width: 248px;
  max-width: 100%;
  gap: 4px;

  position: relative;
  //z-index: 1;

  //&:focus-within {
  //  z-index: 2;
  //}

  &:disabled {
    text-decoration: line-through;
  }

  .fc--display-rules__pre-publish-panel & {
    width: 100%;
  }

  .fc--display-rules__location-control__grouped-select-control {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    position: relative;
    //z-index: 2;
  }

  .fc--display-rules__location-control__remove-button {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  &.has-data-controls {
    .fc--display-rules__location-control__remove-button {
      grid-row: 1 / 3;
    }
  }

  .fc--display-rules__location-control__entity-record-control {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    position: relative;
    //z-index: 2;
  }

  .fc--display-rules__location-control__visualizer {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    position: relative;
    top: -4px;
    left: calc(50% + 1px);
    border-bottom: solid 1px #ddd;
    border-left: solid 1px #ddd;
    border-radius: 2px;
    //z-index: 1;
    width: 100%;
    height: calc(50% + 4px);
  }
}