.fc--icon-sets-dropdown-content {
  .fc--icon-sets-dropdown-content__wrapper {
    border-bottom: 1px solid #ddd;
    padding: var(--fc--spacing-100);
    margin-left: calc(var(--fc--spacing-50)*-1);
    margin-right: calc(var(--fc--spacing-50)*-1);
    &:first-of-type {
      margin-top: calc(var(--fc--spacing-50)*-1);
    }
    &:last-of-type {
      border-bottom: none;
      margin-bottom: calc(var(--fc--spacing-50)*-1);
    }
  }
}

.fc--icon-sets-dropdown-content__icon-sets {
  display: flex;
  flex-direction: column;
  max-height: 480px;
  overflow: auto;
  border: 1px solid #ddd;
  border-radius: 2px;

  .fc--icon-sets-dropdown-content__icon-set {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

    .fc--icon-sets-dropdown-content__icon-set__name {
      display: block;
      font-size: 11px;
      font-weight: 500;
      line-height: 1.4;
      text-transform: uppercase;
      margin: 0;
      padding: var(--fc--spacing-50);
      position: sticky;
      top: 0;
      background: #fff;
      border-bottom: 1px solid #ddd;
    }

    .fc--icon-sets-dropdown-content__icon-set__icons-list {
      display: grid;
      grid-template-columns: repeat(6, 24px);
      grid-template-rows: auto;
      grid-auto-rows: 24px;
      gap: var(--fc--spacing-50);
      padding: var(--fc--spacing-50);
      margin: 0;
      list-style: none;

      .fc--icon-sets-dropdown-content__icon-set__icons-list-item {
        display: inline-block;
        margin: 0;
        padding: 0;
        list-style: none;
      }
    }

  }

}

.fc--icon-sets-dropdown-content__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  margin: calc(var(--fc--spacing-100)*-1);

  > .components-button {
    flex: 1;
    justify-content: center;
  }
}