span[role=img].fc-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  color: inherit;
  > svg {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }
}

.wp-block-button.fc-image-button {
  > .wp-block-button__link {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}