//todo: remove this once the widget icons are refactored
span[role=img].fc-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  color: inherit;
  > svg {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }
}
//end_todo

.wp-block-button.fc-image-button {
  > .wp-block-button__link {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.fc-text-shadow {
  text-shadow: 3px 3px 5px #23366E;
}

.fc-text-shadow-stroke {
  text-shadow:
          -1px -1px 0 #FFFFFF,
          1px -1px 0 #FFFFFF,
          -1px 1px 0 #FFFFFF,
          1px 1px 0 #FFFFFF,
          3px 3px 5px #23366E;
}