:host {
  box-sizing: border-box;
  position: fixed;
  top: var(--wp-admin--admin-bar--height, 0px);
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  pointer-events: none;
  flex-direction: column;
  width: 100%;
  max-width: 100%!important;
  height: calc(100% - var(--wp-admin--admin-bar--height, 0px));
  max-height: calc(100% - var(--wp-admin--admin-bar--height, 0px))!important;
  margin: 0;
  padding: 0;
  z-index: 99998;

  &::part(inner) {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
  }

  &::part(open-button) {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    background: #FFFFFF;
    color: #000000;
    font-size: 32px;
    padding: 6px;
    margin: 24px;
    cursor: pointer;
    z-index: 2;
    border: solid 1px #DDDDDD;
    border-radius: 4px;
    outline: none;

    pointer-events: auto;
    visibility: visible;
    opacity: 1;

    &:hover,
    &:focus,
    &:active {
      outline: none;
    }
  }

  &::part(container) {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: fit-content;
    max-width: 100%;
    max-height: 100%;
    z-index: 2;

    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }

  &::part(close-button) {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    background: none;
    color: inherit;
    font-size: 32px;
    padding: 6px;
    margin: 0;
    cursor: pointer;
    z-index: 2;
    border: none;
    outline: none;

    &:hover,
    &:focus,
    &:active {
      outline: none;
    }
  }

  &::part(content) {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 100%;
    height: fit-content;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    overflow-y: auto;
    background: #FFFFFF;
    color: #000000;
    border: solid 1px #DDDDDD;
    border-radius: 4px;
    margin: 0;
    padding: 16px;
    gap: 16px;
  }
}

:host(:not([position],[open])) {
  &::part(container) {
    transform: translateY(-100%);
  }
}

:host([position=top]:not([open])) {
  &::part(container) {
    transform: translateY(-100%);
  }
}

:host([position=bottom]:not([open])) {
  &::part(container) {
    transform: translateY(100%);
  }
}

:host([open]) {
  &::part(open-button) {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }
  &::part(container) {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

:host(:not([position])),
:host([position=top]) {
  &::part(inner) {
    justify-content: flex-start;
  }
  &::part(open-button),
  &::part(close-button) {
    top: 0;
    bottom: unset;
  }
}

:host([position=bottom]) {
  &::part(inner) {
    justify-content: flex-end;
  }
  &::part(open-button) {
    top: unset;
    bottom: 0;
  }
}

:host(:not([open-button])),
:host([open-button=right]) {
  &::part(inner) {
    align-items: flex-end;
  }
  &::part(open-button) {
    right: 0;
    left: unset;
  }
}

:host([open-button=left]) {
  &::part(inner) {
    align-items: flex-start;
  }
  &::part(open-button) {
    right: unset;
    left: 0;
  }
}

:host(:not([close-button])),
:host([close-button=right]) {
  &::part(container) {
    flex-direction: row-reverse;
  }
  &::part(close-button) {
    right: 0;
    left: unset;
  }
}

:host([close-button=left]) {
  &::part(container) {
    flex-direction: row;
  }
  &::part(close-button) {
    right: unset;
    left: 0;
  }
}

:host([close-button=none])::part(close-button) {
  display: none;
}

:host([open-button=none])::part(open-button) {
  display: none;
}

:host {
  span[role=img] {
    display: inline-block;
    width: 1em;
    height: 1em;
    color: inherit;
    > svg {
      display: inline-block;
      width: 1em;
      height: 1em;
      stroke-width: 0;
      stroke: currentColor;
      fill: currentColor;
    }
  }
}

:host([transitions]) {
  &::part(open-button),
  &::part(container) {
    transition-property: transform, visibility, opacity;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
  }
}

@media (max-width: 600px) {
  :host {
    padding: 0;
  }
}