.fc--coupon__sidebar-tabs {

  .components-tab-panel__tabs-item {
    flex: 1;
    justify-content: center;
  }

  .components-tab-panel__tab-content > & {
    border-top: 1px solid rgb(221, 221, 221);
    margin-top: -1px;
  }
}