.fc--display-rules__content-control {
  --fc--display-rules-control-width: 280px;
  --fc--repeater-control-min-width: var(--fc--display-rules-control-width);

  display: flex;
  flex-direction: column;
  gap: 16px;

  .fc--repeater-control {
    .fc--repeater-control__label {
      svg {
        fill: #f0b849;
        display: block;
        transform: rotate(180deg);
      }
    }
  }
}
